body{
   background: url(12.png);
   display:flex;
   padding: 10px;
   background-size: cover;
   background-position: center;
   justify-content: center;
   align-items: center;
  
   
}
form{
    width: 300px;
    background:whitesmoke ;
    padding: 25px 30px;
    border-radius: 5px;
    font-family:sans-serif; 
}