body{
    background: linear-gradient( 90deg, #A5A5A5, #000);
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:rgb(255, 0, 0);
}
.rounded{
    border-radius: 50%;
    padding: 10px;
    border: 18px salmon;
    background:linear-gradient(70deg, rgb(167, 38, 38) 10%, #ce00 100%);
}
