body{
    background: linear-gradient( 90deg, #A5A5A5, #000);
h3{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: normal;
    font-weight: 600;
}